:root {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #020104;

  /* --text: #020104;
  --background: #f3effb;
  --primary-button: #602db9;
  --secondary-button: #e1d6f5;
  --accent: #6b32cd; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  margin: 0 auto;
  position: relative;
  background-color: #f3effb;
}

html {
  background-color: #f3effb;
}

body {
  margin: 0;
  background-color: #f3effb;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  background-color: #602db9;
}

/* button1 {
  background-color: #e1d6f5;
} */

/* #6b32cd  */

.center-item {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  width: 0.4rem;
  background-color: #e1d6f5;
}

::-webkit-scrollbar-thumb {
  background-color: #6b32cd;
}
